        table{
            border-collapse: collapse;
            width: 50;
            margin: auto;
        }
        td{
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        thead{
            background-color: antiquewhite;
        }